nav {
    background: white;
    padding: 0 20px;
}

nav ul a {
    color: black;
}

nav .brand-logo {
    color: black;
}

nav .button-collapse i {
    color: black;
}

@media only screen and (max-width: 992px) {
    nav {
        padding: none;
    }
    nav .brand-logo {
        left: 100%;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.header-image {
    width: 100%;
}

.card.horizontal .news-image {
    max-width: 30%;
}

.news-date {
    color: rgba(50, 50, 50, 0.75);
}

.page-footer {
    background: rgba(60, 60, 60, 0.75);
}

.page-footer .footer-copyright {
    background-image: rgba(51, 51, 51, 0.2);
}
